:root {
	--primary-color: #e83283;
}

body {
	background: #12c2e9;
	background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
	background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

main {
	min-height: 80vh;
}

.mla {
	margin-left: auto;
}

h3 {
	padding: 1rem 0;
}

.rating span {
	margin: 0.1rem;
}

button.btn-set:focus {
	box-shadow: none !important;
}

.text-right {
	text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}

/* *** Carousel *** */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	bottom: 0;
}

.carousel img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.carousel a {
	margin: 0 auto;
}

@media (max-width: 900px) {
	.carousel-caption h3 {
		font-size: 2.5vw;
	}

	.carousel-caption h5 {
		font-size: 2.2vw;
		animation: name duration timing-function delay iteration-count direction
			fill-mode;
	}
}

.carousel-item h5 {
	transform: translateY(-33vh);
}
.carousel-item h3 {
	transform: translateX(80%);
}
.carousel-item button {
	transform: translateY(150%);
}

.carousel-item.active h5 {
	animation: fromUp 1s ease-in 1s forwards;
}

.carousel-item.active h3 {
	animation: fromLeft 1s ease-in 1.5s forwards;
}

.carousel-item.active button {
	animation: fromDown 1s ease-in 2s forwards;
}

@keyframes fromUp {
	to {
		transform: translateY(0);
	}
}

@keyframes fromLeft {
	to {
		transform: translateX(0);
	}
}

@keyframes fromDown {
	to {
		transform: translateY(0);
	}
}
