:root {
	--primary-color: #e83283;
}

body {
	background: #12c2e9;
	background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
	background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

main {
	min-height: 80vh;
}

.mla {
	margin-left: auto;
}

h3 {
	padding: 1rem 0;
}

.rating span {
	margin: 0.1rem;
}

button.btn-set:focus {
	box-shadow: none !important;
}

.text-right {
	text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
